*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #eaeaea;
}

.bold{
    font-weight: bold;
}

#logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 22vmin;
    height: 20vmin;
    background-color: #fecd4f;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: twinkle 10s infinite ease-in-out;
    opacity: 0.3;
}
    @keyframes twinkle {
        from {
            filter: hue-rotate(0deg);
        }

        50%{
            filter: hue-rotate(200deg);
        }
      
        to {
            filter: hue-rotate(0deg);
        }
      }
    #logo img{
        width: 80%;
        object-fit: contain;
    }
    #logo span{
        font-size: 1.2rem;
        color: white;
    }

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

#header{
    padding: 0.5rem;
    background-color: #fecd4f;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    flex-direction: row-reverse;
}
    #header > #nb-user-wrapper{
        display: flex;
        align-items: center;
        user-select: none;
    }
    #header #nb-user{
        color: white;
    }

#chat-messages{
    position: relative;
    flex: 1;
    height: inherit;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    overflow-y: auto;
    padding: 1rem;
}
    #chat-messages > p{
        font-size: 3.5vmin;
        padding: 0.5rem;
    }
    #chat-messages > p + p{
        margin-top: 1rem;
    }
    #chat-messages > p.slime-message{
        background-color: #3abbed;
        border-radius: 5px;
        color: white;
        text-align: center;
        font-size: 3.5vmin;
    }
    #chat-messages > p.owner{
        background-color: #eaeaea;
        border-radius: 5px;
    }
    #chat-messages > p.owner > span{
        color: #3abbed;
    }

#form-message{
    z-index: 1;
    height:10vmin;
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#form-message > button[type="submit"]{
    width: 10vmin;
    background-color: #fecd4f;
    font-size: 3.5vmin;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border: none;
    color: white;
}
#form-message > button[type="submit"] > span {
    font-size: 1.5em;
}

#message-input{
    flex: 1;
    font-size: 3.5vmin;
    padding: 0.5em 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    border: none;
}

/* MODAL */
#modal{
    position: absolute;
    width: 100%;
    margin: auto;
    top: -80px;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #3abbed;
    font-size: 3.5vmin;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    transition: all 1s ease;
}
    #modal.show{
        top: 0;
    }
    #modal > form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    #modal label{
        color: white;
        padding: 0.5rem 1rem;
    }
    #modal #username-input{
        font-size: 3.5vmin;
        padding: 0.5rem 1rem;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        border: none;
    }
    #modal input[type="submit"]{
        width: 10vmin;
        min-width: 6em;
        padding: 0.5rem 1rem;
        background-color: #fecd4f;
        font-size: 3.5vmin;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        border: none;
        color: white;
    }

/* TOAST-ERROR */
#toast-error{
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f44336;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem;
    color: white;
}
#toast-error.show{
    display: block;
}